
<section class="container mx-auto p-5  ">
  @if(getProductResource.isLoading()) {
    <div class="flex justify-center items-center h-screen">
       <span class="loading loading-spinner loading-lg"></span>
    </div>
  }

  @if(getProductResource.hasValue()){
    <div class="hero bg-base-200 min-h-screen rounded-2xl">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="max-w-sm rounded-lg shadow-2xl">
      <product-carousel [images]="getProductResource.value().images"/>
    </div>
    <div>
      <h1 class="text-5xl font-bold">{{getProductResource.value().title}}</h1>
      <p class="py-6">
        {{getProductResource.value().description}}
      </p>

    </div>
  </div>
</div>
  }
</section>
