
<div class="card card-compact bg-base-200 shadow-xl animate-fadeIn w-75 m-auto ">
  <figure class="box-content size-62  p-4 mx-auto">
    <img
      [src]=" classAccent ? (product().images[1] | productImagesPipe) : product().images | productImagesPipe "
      alt="Shoes"
      (mouseenter)="mouseEnterDetecte($event)"
      (mouseout)="museOutDetecte($event)"
      class="rounded-xl object-cover w-full h-full animate-fadeIn "

      />

  </figure>
  <div class="card-body items-center text-center h-[20vh] ">
      <h2 class=" card-title text-sm text-info font-montserrat  ">{{product().title}}</h2>
      <p class="text-xs ">{{product().description | slice:0:70 }}...</p>
    <div class="card-actions">
      <a [class.link-accent]="classAccent"  class="link text-secondary"  [routerLink]="['/product', product().id]"  >Ver Mas...</a>
    </div>
  </div>
</div>
