/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: montserrat;
  src: url("../public/assents/fonts/montserrat-alternates/montserrat-alternates-medium.ttf");
}
@import "tailwindcss";

@theme {
  --animate-fadeIn: fadeIn 0.3s ease-in-out;

  @keyframes fadeIn {
    0% {opacity: 0;}
    100% { opacity: 1;}
  }
}

@theme {

  --font-montserrat: montserrat , "sans-serif";
}


@plugin "daisyui/theme" {
  name: "cyberpunkjpm";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.013 17.38);
  --color-base-200: oklch(98% 0.003 247.858);
  --color-base-300: oklch(85.51% 0.179 104.32);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(74.22% 0.209 6.35);
  --color-primary-content: oklch(14.844% 0.041 6.35);
  --color-secondary: oklch(83.33% 0.184 204.72);
  --color-secondary-content: oklch(16.666% 0.036 204.72);
  --color-accent: oklch(71.86% 0.217 310.43);
  --color-accent-content: oklch(14.372% 0.043 310.43);
  --color-neutral: oklch(23.04% 0.065 269.31);
  --color-neutral-content: oklch(94.51% 0.179 104.32);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui" {

  themes: cyberpunkjpm --default, garden --prefersdark;
}



